{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>PnuemoX-RayNet</title>
    <link rel="stylesheet" href="{% static 'css/chatbot.css'%}">
</head>
<body>
    <div class="wrapper">
        
    <div class="navbar">
        <div class="navbar-left">
            <img src="abc.png" alt="Left Logo" class="logo-left">
        </div>
             <nav>
                <a href="{% url 'dashboard'%}" class="nav-item" data-page="home">Home</a>
                <a href="{% url 'about_page' %}" class="nav-item" data-page="about">About</a>
                <a href="{% url 'service_page' %}" class="nav-item" data-page="services">Services</a>
                <a href="{% url 'contact_page' %}" class="nav-item" data-page="contacts">Contacts</a>
                 <a href="{% url 'login' %}" class="nav-item" data-page="sign-out">Sign Out</a>
             </nav>
    </div>
    <div id="chatbot-container">
        <div id="chatbot-header">PneumoX-RayNet Assistant</div>
        <div id="chatbot-messages"></div>
        <div id="chatbot-input">
            <input type="text" id="user-input" placeholder="Type your message...">
            <button id="send-button">Send</button>
        </div>
    </div>

  
    <script src="chatbot.js">
    </script>
    <div class="wrapper">
        <div class="box">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    
</body>
</html>
