{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>PnuemoX-RayNet</title>
    <link rel="stylesheet" href="{% static 'css/contacts.css'%}">
</head>
<body>
    <main>
        <div>
            <h1>Contact Information</h1>
        <p>Meet the creators of PneumoX-RayNet:</p>
        </div>
        
        
        <div class="creator-info">
            <h2>Bipin Ghimire</h2>
            <p>Email: <a href="mailto:bipinghimire365@gmail.com">bipinghimire365@gmail.com</a></p>
            <p>GitHub: <a href="https://github.com/" target="_blank">github.com/</a></p>
        </div>

        <div class="creator-info">
            <h2>Jatin Kasaudhan</h2>
            <p>Email: <a href="mailto:jatin35@gmail.com">jatin35@gmail.com</a></p>
            <p>GitHub: <a href="https://github.com/" target="_blank">github.com/</a></p>
        </div>

        <div class="creator-info">
            <h2>Nishchal Sharma</h2>
            <p>Email: <a href="mailto:nishchal155@gmail.com">nishchal155@gmail.com</a></p>
            <p>GitHub: <a href="https://github.com/" target="_blank">github.com/</a></p>
        </div>

        <div class="creator-info">
            <h2>Prahlad Neupane</h2>
            <p>Email: <a href="mailto:prahlad16@gmail.com">prahlad16@gmail.com</a></p>
            <p>GitHub: <a href="https://github.com/" target="_blank">github.com/</a></p>
        </div>
    </main>
    <div class="wrapper">
        
    <div class="navbar">
        <div class="navbar-left">
            <img src="{%static 'images/abc.png'%}" alt="Left Logo" class="logo-left">
        </div>
        <div class="logoo">
            <div class="pahilo">PneumoX-<span>RayNet</span></div>
        </div>
             <nav>
                <a href="{% url 'dashboard'%}" class="nav-item" data-page="home">Home</a>
                <a href="{% url 'about_page' %}" class="nav-item" data-page="about">About</a>
                <a href="{% url 'service_page' %}" class="nav-item" data-page="services">Services</a>
                <a href="{% url 'contact_page' %}" class="nav-item" data-page="contacts">Contacts</a>
                 <a href="{% url 'login' %}" class="nav-item" data-page="sign-out">Sign Out</a>
             </nav>
    </div>
    <div class="wrapper">
        <div class="box">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <script src="{% static 'js/allofthe.js' %}">  </script>
</body>
</html>
