{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>PnuemoX-RayNet</title>
    <link rel="stylesheet" href="{% static 'css/homet.css'%}">
</head>
<body>
    <div class="wrapper">
        
    <div class="navbar">
        <div class="navbar-left">
            <img src="{%static 'images/abc.png'%}" alt="Left Logo" class="logo-left">
        </div>
             <nav>
                <a href="{% url 'dashboard'%}" class="nav-item" data-page="home">Home</a>
                <a href="{% url 'about_page' %}" class="nav-item" data-page="about">About</a>
                <a href="{% url 'service_page' %}" class="nav-item" data-page="services">Services</a>
                <a href="{% url 'contact_page' %}" class="nav-item" data-page="contacts">Contacts</a>
                 <a href="{% url 'login' %}" class="nav-item" data-page="sign-out">Sign Out</a>
             </nav>
    </div>
    <div class="wrapper">
        <div class="box">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <button class="chat-button" onclick="window.location.href='chatbot.html'">Chat</button>
    <div class="header-text">
        <div class="text-content">
            <h1>PneumoX-<span>RayNet</span></h1>
            <p>AI for Pneumonia Detection</p>
            <a href="{% url 'about_page'%}" class="learnn">Learn More</a>
        </div>
    </div>
    
    <script src="{  static 'js/allofthe.js'  }" > </script>
</body>
</html>
